<div class="container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Salary</th>
            <th scope="col">Location</th>
            <th scope="col">Working Hour</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let job of jobList">
            <th scope="row">{{job.jobId}}</th>
            <td>{{job.name}}</td>
            <td>{{job.description}}</td>
            <td>{{job.salary}}</td>
            <td>{{job.location}}</td>
            <td>{{job.workingHour}}</td>
            <td>
              <a [routerLink]="['/detailsJob', job.jobId]">view</a> | 
              <a [routerLink]="['/deleteJob', job.jobId]">delete</a> | 
              <a [routerLink]="['/editJob', job.jobId]">edit</a>
            </td>
        </tbody>
      </table>
</div>
